*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#050505;
color:#fff;
display:flex;
justify-content:center;
padding:30px;
}

.container{
width:100%;
max-width:500px;
text-align:center;
}

h1{
color:#FFD700;
margin-bottom:10px;
}

p{
margin-bottom:20px;
}

input{
width:100%;
padding:15px;
margin:10px 0;
border:none;
border-radius:10px;
font-size:16px;
}

button{
width:100%;
padding:15px;
margin-top:15px;
background:#FFD700;
color:#000;
border:none;
border-radius:10px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

#flyer{
position:relative;
width:100%;
margin-top:30px;
display:none;
}

.background{
width:100%;
border-radius:20px;
}

#preview{
position:absolute;
top:24%;
left:50%;
transform:translateX(-50%);
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
border:6px solid gold;
box-shadow:0 0 30px gold;
}

#attending{
position:absolute;
top:52%;
left:50%;
transform:translateX(-50%);
background:gold;
color:#000;
padding:10px 25px;
border-radius:30px;
font-weight:bold;
}

#username{
position:absolute;
top:60%;
left:50%;
transform:translateX(-50%);
background:#111;
color:#fff;
padding:12px 30px;
border-radius:30px;
border:2px solid gold;
font-size:24px;
font-weight:bold;
white-space:nowrap;
    }
